html,body {
	text-align: center;
	height: 100%;
    -webkit-touch-callout: none;
}


body {
	background-color: #26266f;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    overflow: hidden;
}

img {
    pointer-events:none;
}

button {
    outline: none;
    position: absolute;
    top: 400px;
    left: 20%;
    border-radius:20%;
    width: 80px;
    height: 60px;
    border: 2px solid #000;
    background: #AAF;
    box-shadow: 0 0 12px blue;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
button:hover {
    background: #88D;
}
button:active{
    background: #449;
}


#debug {
	text-align: left;
    font-size: 10px;
}

#jellyarea {
	height: 100%;
	min-height: 100%;
}

#jellyfishicon {
    -webkit-touch-callout: none;
    position: relative; 
    top: 0px;
    padding-top: 48px;
    width: 213px;
    height: auto;
}

#instructions {
    font-size: 1.9em;
    color: black;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 25%;
}

#ocean {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #7592D1;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    top: 500px;
    left: 0;
}

#other-jellyfish{
    opacity: 0.3;
}

#other-jellyfish img{
    width: 50px;
    position: absolute;
    top: 100%;
    left: 50%;
}

.bubbleimg {
    float: left;
    position: absolute;
}

@media (max-width : 390px) {
    #jellyfishicon {
        width: 153px;
    }
    #instructions {
        font-size: 1.5em;
    }
    button {
        top: 280px;
        left: 10px;
    }
/*    #jellyarea{
        padding-top: 65px;
    }*/
}